*{box-sizing: border-box; margin: 0; padding: 0;}
body
{
	/*font-family: "Poppins", sans-serif;*/
}
		::selection
		{
			background: rgba(7, 119, 101, 0.15);
		}
		.nevbar
		{
			height: auto;
			width: 100%;  
	  	    background: linear-gradient(90deg, #071c4d, #002d97);
			display: flex;
			/*position: fixed;*/
		}
		.nevbar .logo
		{
			width: 15%;
			padding: 28px 0;
			padding-left: 70px;
		}
		.nevbar .mobile_bar
		{
			display: none;
		}
		.nevbar .menu
		{
			width: 55%;
		}
		.nevbar .menu ul
		{
			margin: 25px 0px;
			margin-left: 130px;
		}
		.nevbar .menu li
		{
			display: inline-block;
			margin: 5px;
			padding: 10px;
		}
		.nevbar .menu li a
		{
			font-size: 18px;
			font-family: "Poppins", sans-serif;
			text-decoration: none;
			color: white;
			transition: all 0.5s;
			position: relative;
		}
		.nevbar .menu li a:hover
		{
			color: blue;
		}
		.nevbar .login
		{
			height: 100px;
			width: 30%;
		}
		.nevbar	.login ul
		{
			padding: 40px 0px;
			padding-left: 60px;

		}
		.nevbar .login li
		{
			display: inline-block;
		}
		.nevbar .login a
		{
			font-size: 18px;
			font-family: "Poppins", sans-serif;
			padding: 12px;
			margin: 10px;
			color: white;
			text-decoration: none;
			transition: all 0.5s;
		}
		.nevbar .login a:hover
		{
			color: blue;
		}
		.nevbar .login .box
		{
			background: blueviolet;
			padding: 20px 27px;
			border-radius: 10px;
			transition: all .5s;
		}
		.nevbar .login .box:hover
		{
			background: blue;
			color: white;
		}
		.main
		{
			height: auto;
			width: 100%;  
	  	    background: linear-gradient(90deg, #071c4d, #002d97);
	  	    display: flex;
		}
		.main .path
		{
			height: auto;
			width: 50%;
			/*background: black;*/
		}
		.main .path .divisan
		{
			height: 400px;
			width: 100%;
			/*background: black;*/
			margin: 70px 0px;
			padding-left:70px;
		}
		.main .path .divisan h1
		{
			font-family: "Poppins", sans-serif;
			line-height: 1.2;
			font-size: 45px;
			color: #fff;
			font-weight: 900;
		}
		.main .path .divisan h2
		{
			font-family: "Poppins", sans-serif;
			color: #d9d9d9;
			font-size: 21px;
			margin-top: 15px;
			font-weight: 200;
			line-height: 1.8;
		}
		.main .path .divisan .button
		{
			height: 60px;
			width: 100%;
			margin-top: 35px;
			padding: 20px 0;
		}
		.main .path .divisan .button a
		{
			text-decoration: none;
			color: #fff;
			font-size: 15px;
			font-weight: 600;
			font-family: "Poppins", sans-serif;
			font-weight: 600;
		}
		.main .path .divisan .button .hvrbtn
		{
			padding: 20px 32px;
			background: blueviolet;
			border-radius: 10px;
			transition: all .5s;
		}
		.main .path .divisan .button .hvrbtn:hover
		{
			background: blue;
			color: white;
		}
		.main .path .divisan .button .hvrbtn1
		{
			color: #b3b3b9;
			transition: all .5s;
			margin-left: 10px;
		}
		.main .path .divisan .button .hvrbtn1 i
		{
			font-size: 15px;
			border: 2px solid white;
			border-radius: 50%;
			padding: 15px;
			padding-left: 16px;
			margin: 0px 10px;
			transition: all .5s;
		}
		.main .path .divisan .button .hvrbtn1 i:hover
		{
			background: white;
			color: blue;
		}
		.main .path .divisan .button .hvrbtn1:hover
		{
			color: white;
		}
		.main .path .menubar
		{
			height: 100px;
			width: 100%;
			/*background: skyblue;*/
			margin-top: 50px;
		}
		.main .path .menubar h1
		{
			font-size: 20px;
			color: #d9d9d9;
			font-family: "Poppins", sans-serif;
			font-weight: 600;
			padding-top: 10px;

		}
		.main .path .menubar img
		{
			margin-top: 10px;
		}
		.main .path1
		{
			height: auto;
			width: 50%;
			margin:70px 0px;
		}
		.about
		{
			height: 250px;
			width: 100%;
			background: #f8f9fa;
			margin-top: 50px;
		}
		.about .text
		{
			height: 250px;
			width: 550px;
			/*background: yellowgreen;*/
			margin: auto;
		}
		.about .text h1
		{
			font-size: 42px;
			font-family: "Poppins", sans-serif;
			padding: 0px 25px;
			padding-top: 60px;
		}
		.about .text h2
		{
			font-size: 42px;
			font-family: "Poppins", sans-serif;
			text-align: center;
			padding-top: 5px;
		}
		.about .text h3
		{
			margin-top: 20px;
			font-size: 17px;
			font-family: "Poppins", sans-serif;
			font-weight: 200;
			line-height: 1.2;
			color: #575757;
		}
		.about .text h4
		{
			font-size: 17px;
			font-family: "Poppins", sans-serif;
			font-weight: 200;
			text-align: center;line-height: 1.2;
			color: #575757;
			padding-top: 10px;
		}
		.contenar
		{
			height: 800px;
			width: 100%;
			background: #f8f9fa;
			margin-top: 50px;
		}
		.contenar .info
		{
			height: 350px;
			width: 100%;
			display: flex;
			padding: 0px 65px;
		}
		.contenar .info .info1
		{
			height: 350px;
			width: 33.33%;
			/*background: mediumblue;*/
			margin: 0px 20px;
			padding: 50px 20px;
		}
		.contenar .info .info1 .infoin
		{
			height: 250px;
			width: 100%;
			/*background: whitesmoke;*/
			padding-top: 20px;
		}
		.contenar .info .info1 .infoin .icon
		{
			height: 60px;
			width: 60px;
			background: #175cff;
			border-radius: 15px;
			margin: auto;	
		}
		.contenar .info .info1 .infoin .icon i
		{
			padding: 17px;
			color: white;
			font-size: 25px;
		}
		.contenar .info .info1 .infoin .icon .fa-code
		{
			font-size: 23px;
			padding: 16px;
		}
		.contenar .info .info1 .infoin .bkg
		{
			background: #f25767;
		}
		.contenar .info .info1 .infoin .bkg1
		{
			background: #0b163f;
		}
		.contenar .info .info1 .infoin .text_info
		{
			padding: 0 11px;
		}
		.contenar .info .info1 .infoin .text_info h1
		{
			text-align: center;
			padding-top: 20px;
			font-family: "Poppins", sans-serif;
			font-size: 22px;
		}
		.contenar .info .info1 .infoin .text_info p
		{
			text-align: center;
			font-size: 18px;
			font-family: "Poppins", sans-serif;
			font-weight: 100;
			padding-top: 10px;
			color: #575757;
		}
		.contenar .data
		{
			height: 350px;
			width: 100%;
			margin-top: 10px;
			padding: 0 65px;
			display: flex;
		}
		.contenar .data .box
		{
			height: 300px;
			width: 50%;
			margin: 10px;
			margin-top: 20px;
			border-radius: 15px;
		}
		.contenar .data .box .box1
		{
			height: 140px;
			width: 300px;
			padding: 10px;
			margin-left: 40px;
			margin-top: 40px;
		}
		.contenar .data .clr
		{
			background: #f6d8dd;
		}
		.contenar .data .clr1
		{
			background: #cbd9fb;
		}
		.contenar .data .box .box1 h1
		{
			font-size: 23px;
			font-family: "Poppins", sans-serif;
		}
		.contenar .data .box .box1 p
		{
			font-size: 18px;
			font-family: "Poppins", sans-serif;
			padding-top: 10px;
			color: #575757;
			font-weight: 200;
		}
		.contenar .data .box .btn_free
		{
			height: 50px;
			width: 150px;
			margin-top: 20px;
			margin-left: 40px;
			border: 2px solid blue;
			border-radius: 5px;
			transition: all .5s;
		}
		.contenar .data .box .btn_free:hover
		{
			background: blue;
		}
		.contenar .data .box .btn_free h1
		{
			font-size: 15px;
			font-weight: 200;
			font-family: "Poppins", sans-serif;
			padding-top: 14px;
			text-decoration: none;
			color: blue;
		}
		.contenar .data .box .btn_free a
		{
			text-align: center;
			text-decoration: none;
			color: blue;
			padding: 31px;
			transition: all .5s;
		}
		.contenar .data .box .btn_free a:hover
		{
			color: white;
		}
		.contenar .data .image
		{
			height: 200px;
			width: 200px;
			margin-left: 350px;
			margin-top: -150px;
		}
		.Analytics
		{
			height: 1300px;
			width: 100%;
			/*background: skyblue;*/
			margin-top: 20px;
			padding-top: 20px;
		}
		.Analytics .about_Analytics
		{
			height: 600px;
			width: 100%;
			/*background: navajowhite;*/
			padding: 0px 65px;
			display: flex;
		}
		.Analytics .about_Analytics .Understanding
		{
			height: 600px;
			width: 50%;
			/*background: blueviolet;*/
		}
		.Analytics .about_Analytics .Understanding .an_icon
		{
			height: 60px;
			width: 60px;
			background: #175cff;
			border-radius: 20px;
			margin: 10px;
		}
		.Analytics .about_Analytics .Understanding .an_icon i
		{
			font-size: 25px;
			color: white;
			padding: 17px;
		}
		.Analytics .about_Analytics .Understanding .wri_page
		{
			height: 500px;
			width: 500px;
			/*background: white;*/
			margin-left: 10px;
			margin-top: 20px;
		}
		.Analytics .about_Analytics .Understanding .wri_page h1
		{
			font-size: 40px;
			font-family: "Poppins", sans-serif;
			line-height: 1.2;
			color: #0b163f;
			padding-top: 10px;
		}
		.Analytics .about_Analytics .Understanding .wri_page p
		{
			font-size: 16px;
			font-family: "Poppins", sans-serif;
			font-weight: 200;
			line-height: 1.3;
			color: #575757;
			padding-top: 10px;
			letter-spacing: 1.2px;
		}
		.Analytics .about_Analytics .Understanding .wri_page ul
		{
			padding-top: 20px;
		}
		.Analytics .about_Analytics .Understanding .wri_page li
		{

			font-family: "Poppins", sans-serif;
			font-size: 15px;
			letter-spacing: 1px;
			color: #575757;
			padding: 8px;
			display: inline-block;
			line-height: 1.2;
		}
		.Analytics .about_Analytics .Understanding .wri_page li i
		{
			color: blue;
			padding-right: 5px;
		}
		.Analytics .about_Analytics .Understanding .wri_page .link1
		{
			margin-top: 20px;	
		}
		.Analytics .about_Analytics .Understanding .wri_page .link1 a
		{
			color: #3a74ff;
			font-size: 18px;
			text-decoration: none;
			transition: all .5s;
			font-family: "Poppins", sans-serif;
		}
		.Analytics .about_Analytics .Understanding .wri_page a:hover
		{
			color: blue;
		}
		.Analytics .about_Analytics .Understanding .wri_page i
		{
			margin-left: 4px;
			transition: all .5s;
		}
		.Analytics .about_Analytics .Understanding .wri_page .link1:hover i
		{
			margin-left: 15px;
		}
		.Analytics .about_Analytics .Understanding img
		{
			margin-top: 40px;
			margin-left: 10px;
		}
		.Analytics .privacy
		{
			height: 550px;
			width: 100%;
			/*background: antiquewhite;*/
			box-sizing: border-box;
			padding: 0 65px;
			display: flex;
			margin-top: 50px;
		}
		.Analytics .privacy .privacy2
		{
			height: 550px;
			width: 50%;
			margin-top: 40px;
			/*background: blueviolet;*/
		}
		.Analytics .privacy .privacy2 .privacy_btn
		{
			height: 60px;
			width: 60px;
			border-radius: 20px;
			background: #0b163f;
			margin-left: 70px;
		}
		.Analytics .privacy .privacy2 .privacy_btn i
		{
			font-size: 25px;
			color: white;
			padding: 17px;
		}
		.Analytics .privacy .privacy2 .privacy_info
		{
			height: 500px;
			width: 500px;
			/*background: ghostwhite;*/
			padding-left: 60px;
			box-sizing: border-box;
			margin-top: 30px;
		}
		.Analytics .privacy .privacy2 .privacy_info h1
		{
			font-size: 40px;
			font-family: "Poppins", sans-serif;
			color: #0b153d;
			line-height: 1.2;
			padding-top: 10px;
			padding-left: 10px;
		}
		.Analytics .privacy .privacy2 .privacy_info p
		{
			font-size: 16px;
			font-family: "Poppins", sans-serif;
			font-weight: 100;
			line-height: 1.7;
			color: #818181;
			letter-spacing: 1px;
			padding-top: 10px;
			padding-left: 10px;
			margin-bottom: 30px;
		}
		.Analytics .privacy .privacy2 .privacy_info .link
		{
			font-size: 18px;
			color: #3a74ff;
			font-family: "Poppins", sans-serif;
			transition: all .5s;
			padding-left: 10px;
			text-decoration: none;
			margin-top: 10px;
		}
		.Analytics .privacy .privacy2 .privacy_info .link:hover
		{
			color: blue;
		}
		.Analytics .privacy .privacy2 .privacy_info .link i
		{
			margin-left: 4px;
			transition: all 0.5s;
		}

		.Analytics .privacy .privacy2 .privacy_info .link:hover i
		{
			margin-left: 15px;
			color: blue;
		}
		
		.Analytics .privacy .privacy2 img
		{
			width: 100%;
			margin-top: 30px;
			margin-left: -10px;
		}
		.testimonial
		{
			/*height:1150px;*/
			width: 100%;
			background: linear-gradient(90deg, #071c4d, #002d97);
			padding: 50px 65px;
		}
		.testimonial .testimonial_info
		{
			width: 100%;
			/*background: black;*/
			text-align: center;
			margin-bottom: 50px;
		}
		.testimonial .testimonial_info h4
		{
			font-size: 20px;
			color: #ffb116;
			padding-top: 50px;
			font-family: "Poppins", sans-serif;
		}
		.testimonial .testimonial_info h1
		{
			font-size: 35px;
			font-weight: 900;
			font-family: "Open Sans", sans-serif;
			color: #fff;
			padding-top: 10px;
			line-height: 1.2;
		}
		.testimonial .testimonial_info p
		{
			font-size: 18px;
			font-family: "Open Sans", sans-serif;
			line-height: 1.8;
			padding-top: 10px;
			color: #d9d9d9;
			font-weight: 200;
		}
		.testimonial .ter_concept
		{
			width: 100%;
			display: flex;
		}
		.testimonial .ter_concept .ter_part
		{
			width: 50%;
			/*background: skyblue;*/
		}
		.testimonial .ter_concept .ter_part .ter_icon
		{
			height: 80px;
			width: 80px;
			/*background: black;*/
			margin-top: 10px;
			margin-left: 10px;
		}
		.testimonial .ter_concept .ter_part .ter_write
		{
			height: 370px;
			width: 550px;
			/*background: blueviolet;*/
			margin-top: 10px;
			margin-left: 10px;
		}
		.testimonial .ter_concept .ter_part .ter_write h3
		{
			font-size: 28px;
			font-family: "Poppins", sans-serif;
			color: #fff;
			padding-top: 10px;
		}
		.testimonial .ter_concept .ter_part .ter_write i
		{
			padding-top: 8px;
			font-size: 12px;
			color: #ffb116;
		}
		.testimonial .ter_concept .ter_part .ter_write p
		{
			font-size: 16px;
			font-family: "Poppins", sans-serif;
			padding-top: 40px;
			line-height: 1.7;
			color: #d9d9d9;
			margin-bottom: 10px;
			font-weight: 200;
			letter-spacing: 1.2px;
		}
		.testimonial .ter_concept .ter_part .ter_write h6
		{
			font-size: 20px;
			font-family: "Poppins", sans-serif;
			padding-top: 30px;
			color: #fff;
		}
		.testimonial .ter_concept .ter_part .ter_write h4
		{
			font-size: 15px;
			padding-top: 8px;
			font-family: "Poppins", sans-serif;
			color: #d9d9d9;
			font-weight: 200;
		}
		.testimonial .ter_concept .part2
		{
			position: relative;
		}
		.testimonial .ter_concept .part2 .inner_part
		{
			margin-left: 50px;
		}
		.testimonial .ter_concept .ter_part .inner_part .bkg_inner
		{
			height: 300px;
			width: 380px;
			background: url(https://quiety.themetags.com/assets/img/dots.svg);
			background-size: 17px;
			margin-top: 50px;
			margin-left: 40px;
			position: relative;
		}
		.testimonial .ter_concept .part2 .inner_part .img_cover img
		{
			position: absolute;
			top: 90px;
			left: 130px;
			border-radius: 15px;
		}
		.testimonial .ter_concept .part2 .inner_part .img_cover .blur_img
		{
			height: 300px;
			width: 397px;
			background: linear-gradient(180deg, transparent, rgb(23, 19, 71 ,1));
			position: absolute;
			top: 90px;
			left: 130px;
			border-radius: 15px;
			opacity: .7;
		}
		.testimonial .ter_concept .part2 .inner_part .img_cover .blur_img .btn_watch
		{
			color: #fff;
			position: absolute;
			bottom: 30px;
			text-decoration: none;
			left: 35px;
		}
		.testimonial .ter_concept .part2 .inner_part .img_cover .blur_img .btn_watch i 
		{
			padding: 18px;
			background: blue;
			border-radius: 50px;
			margin-right: 12px;
		}
		.testimonial .person_info li
		{
			width: 250px;
			background: #132b67;
			border-radius: 15px;
			border: 2px solid #213c7d;
			display: inline-block;
			margin: 10px;
			transition: all .8s;
		}
		.testimonial .person_info li:hover
		{
			background: #213c7d;
			transform: translatey(-8px);
		}
		.testimonial .person_info .box_per_2
		{
			display: flex;
			padding: 20px;
		}
		.testimonial .person_info .person_info_img
		{
			width: 70px;
		}
		.testimonial .person_info .person_info_img img
		{
			border-radius: 50px;
			width: 50px;
		}
		.testimonial .person_info .person_info_name
		{

		}
		.testimonial .person_info .person_info_name h3
		{
			font-size: 18px;
			color: #fff;
		}
		.testimonial .person_info .person_info_name h5
		{
			font-size: 15px;
			color: #d6d6d6;
			font-weight: 200;
			padding-top: 5px;
		}
		.process
		{
			height: 1000px;
			width: 100%;
			/*background: lightskyblue;*/
			margin-top: 100px;
			padding: 0px 65px;
		}
		.process .process_work
		{
			height: auto;
			width: 600px;
			/*background: yellow;*/
			margin: auto;
		}
		.process .process_work h6
		{
			padding-top: 25px;
			font-size: 18px;
			color: blue;
			font-family: "Open Sans", sans-serif;
			text-align: center;
		}
		.process .process_work h1
		{
			font-family: "Open Sans", sans-serif;
			text-align: center;
			color: #0b163f;
			font-size: 35px;
			font-weight: 900;
		}
		.process .process_work p
		{
			font-size: 15px;
			color: #575757;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 1.8px;
			line-height: 1.6;
			padding-top: 8px;
			text-align: center;
		}
		.process .process_part
		{
			height: 700px;
			width: 100%;
			/*background: antiquewhite;*/
			display: flex;
			margin-top: 20px;
		}
		.process .process_part .process_part2
		{
			width: 50%;
			/*background: blueviolet;*/
		}
		.process .process_part .process_part2 .process_img
		{
			padding: 85px 30px;
		}
		.process .process_part .process_part2 .process_img img
		{
			border-radius: 20px;
		}
		.process .process_part .process_part2 ul
		{
			margin: 30px;
			position: relative;
		}
		.process .process_part .process_part2 ul:before
		{
			position: absolute;
			border: 1px dashed #e0e2e7;
			content: '';
			height: 70%;
			top: 8%;
			bottom: 0;
			left: 30px;
			z-index: 0;
		}
		.process .process_part .process_part2 li
		{
			display: flex;
			height: 150px;
			align-items: flex-start;
			margin-top: 15px;
			list-style: none;
		}
		.process .process_part .process_part2 .process_step i
		{
			font-size: 23px;
			padding: 17px;
			color: #9a9a9a;
			border-radius: 12px;
			border: 2px solid #e0e2e7;
			transition: all .8s;
			background: white;
			z-index: 1;
		}
		.process .process_part .process_part2 .process_step:hover i
		{
			color: #175cff;
		}
		.process .process_part .process_part2 .process_step h6	
		{
			color: #175cff;
			font-family: "Poppins", sans-serif;
			font-size: 20px;
			padding-left: 20px;
		}
		.process .process_part .process_part2 .process_step h2
		{
			font-family: "Poppins", sans-serif;
			font-size: 20px;
			color: #0b163f;
			padding-left: 20px;
			padding-top: 10px;
		}
		.process .process_part .process_part2 .process_step p
		{
			font-size: 15px;
			color: #575757;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 1.8px;
			line-height: 1.6;
			padding-left: 20px;
			padding-top: 8px;
		}
		.Pricing
		{
			height: 1000px;
			width: 100%;
			/*background: green;*/
			margin-top: 50px;
			padding: 0px 65px;
		}
		.Pricing .Valuable_Price
		{height: auto;
			width: 600px;
			/*background: white;*/
			margin: auto;
		}
		.Pricing .Valuable_Price h6
		{
			color: #175cff;
			font-family: "Poppins", sans-serif;
			font-size: 22px;
			padding-top: 25px;
			text-align: center;
		}
		.Pricing .Valuable_Price h1
		{
			font-family: "Poppins", sans-serif;
			font-size: 35px;
			color: #0b163f;
			text-align: center;
			font-weight: 900;	
		}
		.Pricing .Valuable_Price p
		{
			font-size: 15px;
			color: #575757;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 1.8px;
			line-height: 1.6;
			padding-top: 8px;
			text-align: center;
		}
		.Pricing .Pricing_info
		{
			/*height: 100px;*/
			width: 850px;
			/*background: antiquewhite;*/
			margin: auto;
			margin-top: 10px;
			display: flex;
		}
		.Pricing .Pricing_info .Pricing_info3
		{
			width: 300px;
			height: 80px;
			/*background: lightseagreen;*/
			margin: 10px;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact
		{
			display: flex;
			align-items: flex-start;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact i
		{
			font-size: 25px;
			padding: 15px;
			background: #d1deff;
			color: #175cff;
			border-radius: 50px;
			margin: 10px;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact .text-success
		{
			background: #def4ed;
			color: #59c3a2;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact .text-danger
		{
			background: #fcdde1;
			color: #e85463;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact h1
		{
			margin: 17px 0px;
			padding-left: 5px;
			font-size: 18px;
			font-family: "Poppins", sans-serif;
			font-weight: 600;
		}
		.Pricing .Pricing_info .Pricing_info3 .Pricing_contact .style1
		{
			margin: 28px 0;
		}
		.Pricing .Pricing_rate 
		{
			height: 600px;
			width: 100%;
			/*background: whitesmoke;*/
			margin-top: 20px;
			display: flex;
		}
		.Pricing .Pricing_rate .Pricing_rate3
		{
			width: 380px;
			height: auto;
			background: #fafafa;
			margin: 10px;
			border-radius: 15px;
			box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.2);
			padding: 0px 50px;
		}
		.Pricing .Pricing_rate .rate2
		{
			background: linear-gradient(90deg, #071c4d, #002d97);
		}
		.Pricing .Pricing_rate .Pricing_rate3 .rating3
		{
			height: 150px;
			/*background: blanchedalmond;*/
			padding-left: 10px;
			border-bottom: 1px dashed #bbbbc0;
			margin-top: 20px;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .rating3 h6
		{
			color: #175cff;
			font-family: "Poppins", sans-serif;
			font-size: 20px;
			padding-top: 30px;/*
			padding-left: 10px;*/
		}
		.Pricing .Pricing_rate .Pricing_rate3 .rating3 .color
		{
			color: orange;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .rating3 h1
		{
			font-size: 40px;
			font-family: "Poppins", sans-serif;
			padding-top: 15px;
			color: black;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .rating3 span
		{
			font-size: 18px;
			font-weight: 200;
			padding-left: 5px;
		}
		.Pricing .Pricing_rate .rate2 .rating3 .font
		{
			color: white;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_about
		{
			margin-top: 10px;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_about li
		{
			padding-top: 16px;
			list-style: none;
			font-family: "Poppins", sans-serif;
			color: #4a4a4a;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_about i
		{
			color: blue;
			font-size: 10px;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_about .sec_clr
		{
			color: orange;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_about .sec 
		{
			color: #d9d9d9;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy 
		{
			margin-top: 50px;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy a
		{
			font-size: 15px;
			font-weight: 200;
			color: blue;
			text-align: center;
			padding: 12px 27px;
			border: 2px solid #175cff;
			border-radius: 5px;
			text-decoration: none;
			transition: all .5s;
			font-family: "Poppins", sans-serif;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy a:hover
		{
			background: #175cff;
			color: #fff;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy .buy2
		{
			background:#175cff ;
			color: #fff;
			border: none;
			transition: all .5s;
		}
		.Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy .buy2:hover
		{
			background: blue;
		}
		.faq
		{
			height: 900px;
			width: 100%;
			background:  #f8f9fa;
			padding: 0px 65px;
			margin-top: 40px;
		}
		.faq .Frequently_Asked
		{
			/*background: ghostwhite;*/
			/*height: 300px;*/
			width: 600px;
			margin: auto;
			padding: 10px;
		}
		.faq .Frequently_Asked h6
		{
		   	color: #175cff;
		   	font-family: "Poppins", sans-serif;
		 	font-size: 22px;
			padding-top: 25px;
			text-align: center;
		}
		.faq .Frequently_Asked h2
		{
			font-family: "Poppins", sans-serif;
		    font-size: 40px;
		    color: #000;
		    text-align: center;
		    font-weight: 900;
		}
		.faq .Frequently_Asked p
		{
			font-size: 15px;
		    color: #575757;
		    font-family: "Open Sans", sans-serif;
		    letter-spacing: 1.2px;
		    line-height: 1.6;
		    padding-top: 8px;
		    text-align: center;
		}
		.faq .faq2
		{
			height: 500px;
			width: 100%;
			/*background: skyblue;*/
			display: flex;
			margin-top: 20px;
		}
		.faq .faq2 .faq_qui
		{
			width: 50%;
			/*background: blanchedalmond;*/
		}
		.faq .faq2 .faq_qui .inner_faq
		{
			/*padding: 20px;*/
			/*background: floralwhite;*/
			margin: 20px;
			padding-right: 70px;
		}
		.faq .faq2 .faq_qui .inner_faq h5
		{
			font-size: 21px;
		    font-family: "Open Sans", sans-serif;
		    color: #000;
		}
		.faq .faq2 .faq_qui .inner_faq h5 span
		{
			font-size: 26px;
			color: #175cff;
		   	font-family: "Poppins", sans-serif;
		}
		.faq .faq2 .faq_qui .inner_faq p
		{
			font-size: 15px;
		    color: #575757;
		    font-family: "Open Sans", sans-serif;
		    letter-spacing: 1.2px;
		    line-height: 1.8;
		    padding-top: 8px;
		    margin-bottom: 35px;
		}
		.Integration
		{
			height: 1600px;
			width: 100%;
			/*background: lightskyblue;*/
			padding: 0px 65px;
			padding-top: 30px;
		}
		.Integration .Inte_inner
		{
			height: 500px;
			width: 100%;
			/*background: black;*/
			display: flex;
		}
		.Integration .Inte_inner .inte_2
		{
			width: 25%;
			/*background: grey;*/
		}
		.Integration .Inte_inner .inte_1
		{
			width: 50%;
			/*background: papayawhip;*/
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a img
		{
			padding: 10px;
			background: white;
			border-radius: 50%;
   			box-shadow: 7px 7px 10px 0 rgb(55 65 81 / 12%);
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img1
		{
			margin-top: 50px;
			margin-left: 50px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img2
		{
			margin-left: 200px;
			margin-top: -10px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img3
		{
			margin-top: 5px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img4
		{
			margin-left: 180px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img5
		{
			margin-left: 35px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img6
		{
			margin-left: 220px;
		}
		.Integration .Inte_inner .inte_1 h6
		{
			padding-top: 150px;
			color: #175cff;
		    font-family: "Poppins", sans-serif;
		    font-size: 20px;
		    text-align: center;
		}
		.Integration .Inte_inner .inte_1 h1
		{
			font-family: "Poppins", sans-serif;
		    font-size: 40px;
		    color: #0b163f;
		    text-align: center;
		    font-weight: 900;
		    line-height: 1.2;
		    padding-top: 10px;
		    padding-bottom: 50px;
		}
		.Integration .Inte_inner .inte_1 .view
		{
			text-align: center;
		}
		.Integration .Inte_inner .inte_1 .view a
		{
			text-decoration: none;
			color: white;
			font-family: "Poppins", sans-serif;
			font-size: 16px;
			background:#175cfe;
			padding: 15px 30px;
			border-radius: 8px;
			transition: .5s;
		}
		.Integration .Inte_inner .inte_1 .view a:hover
		{
			background: blue;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img7
		{
			margin-top: 50px;
			margin-left: 170px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img8
		{
			margin-top: -10px;
			margin-left: 10px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img9
		{
			margin-left: 220px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img10
		{
			margin-left: 40px;
			margin-top: 10px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img11
		{
			margin-left: 190px;
			margin-top: 10px;
		}
		.Integration .Inte_inner .inte_2 .inte_inner2 a .img12
		{
			margin-left: 15px;
		}
		.Integration .connect
		{
			height: 350px;
			width: 100%;
			/*background: blue;*/
			margin-top: 20px;
			display: flex;
		}
		.Integration .connect .connect2
		{
			width: 50%;
			background: #fff;
			border-radius: 15px;
			margin: 30px 20px;
			border: 2px solid rgba(101, 101, 101, 0.1);
			transition: all .5s;
			margin-top: 50px;
		}
		.Integration .connect .connect2:hover
		{
			background: #f5f5f5;
			transform: translateY(-10px);
   			box-shadow: 7px 7px 10px 0px rgb(55 65 81 /12%);
   			cursor: pointer;
		}
		.Integration .connect .connect2 .conn_inner
		{
			position: relative;
		}
		.Integration .connect .connect2 .conn_inner span
		{
			font-family: "Poppins", sans-serif;
			font-size: 15px;
			color: #175cfe;
			padding: 8px 20px;
			background: #cedbfb;
			border-radius: 8px;
			left: 400px;
			position: absolute;
			top: 20px;
		}
		.Integration .connect .connect2 .conn_inner1
		{
			position: relative;
		}
		.Integration .connect .connect2 span
		{
			color: #f25767;
			background: #fcdde1;
			font-family: "Poppins", sans-serif;
			font-size: 15px;
			border-radius: 8px;
			position: absolute;
			padding: 8px 20px;
			top: 20px;
			left: 390px;
		}
		.Integration .connect .connect2 .inner a img
		{
			padding: 10px;
			background: #fff;
			border-radius: 50%;
			box-shadow: 7px 7px 10px 0px rgb(55 65 81 /12%);
			margin-top: 50px;
			margin-left: 60px;
		}
		.Integration .connect .connect2 .inner h6
		{
			font-family: "Poppins", sans-serif;
			font-size: 22px;
			color: #0b163f;
			margin-left: 60px;
			margin-top: 20px;
		}
		.Integration .connect .connect2 .inner p
		{
			font-family: "Poppins", sans-serif;
			font-size: 16px;
			color: #575757;
			line-height: 1.8;
			letter-spacing: 1.5px;
			margin-top: 20px;
			margin-left: 60px;
		}
		.Integration .trial
		{
			height: 500px;
			width: 100%;
			background: linear-gradient(90deg, #071c4d, #002d97);
			margin-top: 100px;
			position: relative;
			overflow: hidden;
			border-radius: 20px;
		}
		.Integration .trial .round
		{
			height: 350px;
			width: 350px;
			background: #ffb116;
			border-radius: 50%;
			position: absolute;
			right: 60px;
			top: -240px;
		}
		.Integration .trial .round1
		{
			height: 300px;
			width: 300px;
			background: #071c4d;
			border-radius: 50%;
			position: absolute;
			bottom: -180px;
			left: 60px;
		}
		.Integration .trial h6
		{
			color: #ffb116;
			font-size: 22px;
			font-family: "Poppins", sans-serif;
			text-align: center;
			margin-top: 100px;
		}
		.Integration .trial h2
		{
			color: #fff;
			font-family: "Open Sans", sans-serif;
			text-align: center;
			font-size: 45px;
			font-weight: bold;
			margin-top: 10px;
		}
		.Integration .trial p
		{
			color: #d9d9d9;
			font-family: "Open Sans", sans-serif;
			text-align: center;
			font-size: 17px;
			margin-top: 18px;
			margin-bottom: 40px;
		}
		.Integration .trial .contact_us .con1
		{
			padding: 15px 30px;
			font-size: 18px;
			font-family: "Open Sans", sans-serif;
			background: #134bd0;
			color: #fff;
			border-radius: 10px;
			margin-left: 400px;
			transition: all .5s;
		}
		.Integration .trial .contact_us .con1:hover
		{
			background: blue;
		}

		.Integration .trial .contact_us a
		{
			text-decoration: none;
			color: #98989d;
			margin: 10px;
			font-family: "Open Sans", sans-serif;
			transition: all .5s;
		}
		.Integration .trial .contact_us a i
		{
			padding: 15px;
			border: 2px solid #fff;
			border-radius: 50%;
			transition: all .5s;
			margin-right: 8px;
		}
		.Integration .trial .contact_us a:hover i
		{
			background: #fff;
			color: blue;
		}
		.Integration .trial .contact_us a:hover
		{
			color: #fff;
		}
		.Integration .trial .contact_us ul 
		{
			padding: 10px;
			text-align: center;
			margin-top: 20px;
		}
		.Integration .trial .contact_us ul li
		{
			display: inline;
			padding: 10px;
			font-family: "Open Sans", sans-serif;
			color: #d9d9d9;
		}
		.Integration .trial .contact_us ul li i
		{
			color: blue;
			margin-right:10px ;
			margin-bottom: 10px;
		}
		.footer
		{
			height: 600px;
			width: 100%;
			padding: 0 65px;
	  	    background: linear-gradient(90deg, #071c4d, #002d97);
	  	    padding-top: 50px;
		}
		.footer .footer_2
		{
			height: 400px;
			width: 100%;
			/*background: cornsilk;*/
			display: flex;
		}
		.footer .footer_2 .footer_inner1
		{
			width: 35%;
			/*background: black;*/
		}
		.footer .footer_2 .footer_inner2
		{
			width: 65%;
			/*background: lightskyblue;*/
			padding-left: 30px;
		}
		.footer .footer_2 .footer_inner1 img
		{
			margin-top: 50px;
			margin-left: 20px;
		}
		.footer .footer_2 .footer_inner1 p
		{
			margin-left: 20px;
			color: #d9d9d9;
			font-size: 15px;
			line-height: 1.8;
			font-family: "Open Sans", sans-serif;
			letter-spacing: 1.2px;
			margin-top: 20px;
		}
		.footer .footer_2 .footer_inner1 input
		{
			padding: 15px;
			margin-left: 20px;
			border-radius: 10px;
			margin-top: 20px;
			outline: none;
		}
		.footer .footer_2 .footer_inner1 a
		{
			padding: 12px 22px;
			background: #165af9;
			text-decoration: none;
			color: #fff;
			font-family: "Open Sans", sans-serif;
			border-radius: 8px;
			transition: all .5s;
			margin-left: 10px;
		}
		.footer .footer_2 .footer_inner1 a:hover
		{
			background: blue;
		}
		.footer .footer_2 .footer_inner1 h3
		{
			margin-top: 20px;
			margin-left: 20px;
			font-size: 18px;
			font-family: "Open Sans", sans-serif;
			color: #fff;
		}
		.footer .footer_2 .footer_inner1 ul
		{
			margin-left: 20px;
			margin-top: 5px;
		}
		.footer .footer_2 .footer_inner1 ul i
		{
			font-size: 12px;
			color: orange;
		}
		.footer .footer_2 .footer_inner2 
		{
			display: flex;
		}
		.footer .footer_2 .footer_inner2 .footer1 
		{
			margin-top: 50px;
			margin-left: 80px;
		}
		.footer .footer_2 .footer_inner2 .footer1 h1
		{
			font-size: 20px;
			padding: 10px;
			font-family: "Open Sans", sans-serif;
			color: #fff;
		}
		.footer .footer_2 .footer_inner2 .footer1 ul
		{
			margin-top: 20px;
		}
		.footer .footer_2 .footer_inner2 .footer1 li
		{
			list-style: none;
			padding: 10px;
		}
		.footer .footer_2 .footer_inner2 .footer1 li a
		{
			text-decoration: none;
			font-family: "Open Sans", sans-serif;
			color:  #98a3ba;
			font-size: 15px;
			transition: all .5s;
			font-weight: bold;
		}
		.footer .footer_2 .footer_inner2 .footer1 li a:hover
		{
			color: #fff;
		}
		.footer .footer_end
		{
			height: 100px;
			width: 100%;
			margin-top: 50px;
			border-top: 2px solid #102861;
			display: flex;
		}
		.footer .footer_end .footer_end2
		{
			width: 50%;
		}
		.footer .footer_end .footer_end2 p
		{
			font-size: 15px;
			font-family: "Open Sans", sans-serif;
			color: #fff;
			font-weight: bold;
			line-height: 100px;
			margin-left: 20px;
		}
		.footer .footer_end .footer_end2 a
		{
			text-decoration: none;
			color: #98a3ba;
			transition: all .5s;
		}
		.footer .footer_end .footer_end2 a:hover
		{
			color: blue;
		}
		.footer .footer_end .footer_end2 ul
		{
			float: right;
		}
		.footer .footer_end .footer_end2 li
		{
			list-style: none;
			display: inline-block;
			line-height: 100px;
		}
		.footer .footer_end .footer_end2 li a
		{
			font-size: 18px;
			color: #fff;
			padding: 10px;
			border: 2px solid #214498;
			margin: 5px;
			border-radius: 5px;
		}
		.footer .footer_end .footer_end2 li a:hover
		{
			background: blue;
			color: #fff;
		}
		
/************************************    mobile css ****************************************************************/

@media only screen and (max-width: 700px)
{
	.nevbar .logo
  {
  	width: 70%;
  }
  .mobile_bar
  {
  	display: block;
  }
  .mobile_bar a
  {
  }
  .mobile_bar i
  {
  	padding: 35px;
  	font-size: 26px;
  	color: #fff;
  }
  .nevbar .menu,
  .nevbar .login
  {
  	display: none;
  }
  .main
  {
  	display: block;
  }
  .main .path,
  .main .path1
  {
  	width: 100%;
  }
  .main .path1
  {
  	margin: 0;
  	padding: 50px 0;
  }
  .main .path .divisan
  {
  	height: auto;
  	padding: 20px 0 20px 20px;
  	margin: 0;
  }
  .about
  {
  	height: auto;
  	padding: 50px 20px;
  	margin: 0;
  }
  .about .text
  {
  	width: 100%;
  	height: auto;
  }
  .contenar
  {
  	height: auto;
  	margin: 0;
  	padding: 50px 0;
  }
  .contenar .info,
  .contenar .data
  {
  	height: auto;
  	display: block;
  	margin-bottom: 20px;
  }
  .contenar .info .info1
  {
  	width: 100%;
  	height: auto;
  	margin-left: 0;
  	padding: 20px;
  }
  .contenar .data
  {
  	padding: 0 15px;
  }
  .contenar .data .box
  {
  	width: 100%;
  	height: auto;
  	padding: 20px;
  	margin: 0;
  	margin-bottom: 20px ;
  }
  .contenar .data .box .box1
  {
  	margin-left: 0;
  	height: auto;
  	margin-left: 0;
  }

  .contenar .data .image
  {
  	display: none;
  }
  .Analytics
  {
  	height: auto;
  	padding: 50px 0;
  }
  .Analytics .about_Analytics
  {
  	height: auto;
  	display: block;
  	padding: 0 20px;
  }
  .Analytics .about_Analytics .Understanding .wri_page{
  	width: 100%;
  	height: auto;
  }
  .Analytics .about_Analytics .Understanding,
  .Analytics .privacy .privacy2
  {
  	height: auto;
  	width: 100%;
  }
  .Analytics .privacy
  {
  	height: auto;
  	display: block;
  	padding: 0 20px;
  }
  .Analytics .privacy .privacy2 .privacy_info
  {
  	width: 100%;
  	height: auto;
  	padding-left: 0;
  }
  .testimonial
  {
  	padding: 50px 20px;
  }
  .testimonial .ter_concept .part2
  {
  	margin: 30px 0;
  }
  .testimonial .ter_concept
  {
  	display: block;
  }
  .testimonial .ter_concept .ter_part
  {
  	width: 100%;
  }
  .testimonial .ter_concept .ter_part .ter_write
  {
  	width: 100%;
  	height: auto;
  }
  .testimonial .ter_concept .part2 .inner_part
  {
  	margin-left: 0;
  }
  .testimonial .ter_concept .ter_part .inner_part .bkg_inner
  {
  	margin: 0;
  }
  .testimonial .ter_concept .ter_part .inner_part .bkg_inner
  {
  	width: 100%;
  }
  .testimonial .ter_concept .part2 .inner_part .img_cover .blur_img
  {
    height: 199px;
    width: 220px;
    top: 71px;
    left: 87px;
  }
  .testimonial .ter_concept .part2 .inner_part .img_cover img
  {
  	left: auto;
  	right: 10px;
  }

  .process,
  .process .process_part
  {
  	height: auto;
  	padding: 0 20px;
  	display: block;
  }
  .process .process_part .process_part2 .process_img
  {
  	padding: 0;
  }
  .process .process_part .process_part2 .process_img img
  {
  	width: 100%;
  }
  .process .process_work
  {
  	width: 100%;
  }
  .process .process_part .process_part2
  {
  	width: 100%;
  }
  .process .process_part .process_part2 ul
  {
  	margin: 30px 0;
  }
  .process .process_part .process_part2 li
  {
  	height: auto;
  }

  .Pricing
  {
  	height: auto;
  	padding: 0px 20px;
  }
  .Pricing .Valuable_Price
  {
  	width: 100%;
  }
  .Pricing .Pricing_info
  {
  	width: 100%;
  	display: block;
  }
  .Pricing .Pricing_info .Pricing_info3
  {
  	width: 100%;
  }
  .Pricing .Pricing_rate
  {
  	display: block;
  	height: auto;
  }
  .Pricing .Pricing_rate .Pricing_rate3
  {
  	width: 100%;
  	display: wrap;
  	margin: 0;
  	padding: 20px 50px;
  	margin-bottom: 20px;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .rating3
  {
  	height: auto;
  	margin-top: 0;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .rating3 h1
  {
  	padding: 20px 0;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .Pricin{
  	margin-bottom: 20px;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy
  {
  	padding: 20px 0;'
  	margin: 0;
  }
  .faq
  {
  	height: auto;
  	padding: 50px 20px;
  }
  .faq .Frequently_Asked
  {
  	width: 100%;
  }
  .faq .faq2
  {
  	height: auto;
  	display: block;
  }
  .faq .faq2 .faq_qui
  {
  	width: 100%;
  }
  .faq .faq2 .faq_qui .inner_faq
  {
  	padding-right: 0;
  	margin: 0;
  }
  .Integration
  {
  	height: auto;
  	padding: 50px 20px;
  }
  .Integration .Inte_inner
  {
  	height: auto;
  	width: 100%;
  	display: block;
  }
  .Integration .Inte_inner .inte_2,
  .Integration .Inte_inner .inte_1
  {
  	display: block;
  	width: 100%;
  }

  .Integration .Inte_inner .inte_1
  {
  	padding: 40px 0;
  }
  .Integration .Inte_inner .inte_1 h6
  {
  	padding-top: 0;
  }
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img1,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img2,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img3,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img4,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img5,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img6,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img7,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img8,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img9,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img10,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img11,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img12
  {
  	margin: 0;
  }
  .Integration .connect
  {
  	width: 100%;
  	height: auto;
  	display: block;
  }
  .Integration .connect .connect2
  {
  	width: 100%;
  	margin: 0;
  	padding: 10px;
  	margin-bottom: 20px;
  }
  .Integration .connect .connect2 .inner h6,
  .Integration .connect .connect2 .inner p
  {
  	margin: 0;
  }
  .Integration .connect .connect2 .inner a img
  {
  	margin: 0;
  	margin-bottom: 10px;
  }
  .Integration .connect .connect2 .conn_inner span,
  .Integration .connect .connect2 span
  {
  	left: 122px;
  }
  .Integration .trial
  {
  	height: auto;

  }
  .Integration .trial
  {
  	margin-top: 30px;
  	padding: 30px 15px;
  }
  .Integration .trial h2
  {
  	font-size: 32px;
  }
  .Integration .trial h6
  {
  	margin: 0;
  }
  .Integration .trial .contact_us .con1
  {
  	margin: 0;
  	padding: 15px;
  }
  .Integration .trial .round,
  .Integration .trial .round1
  {
  	display: none;
  }
  .footer
  {
  	height: auto;
  	width: 100%;
  	padding: 0 20px;
  }
  .footer .footer_2
  {
  	display: block;
  	height: auto;
  }
  .footer .footer_2 .footer_inner1{
  	width: 100%;
  }
  .footer .footer_2 .footer_inner2
  {
  	display: block;
  	width: 100%;
  	padding: 0;
  }
  .footer .footer_2 .footer_inner2 .footer1
  {
  	margin: 0;
  	margin-bottom: 20px;
  }
  .footer .footer_2 .footer_inner1 a
  {
  	margin-left: 0;
  }
  .footer .footer_end
  {
  	height: auto;
  	width: 100%;
  }
  .footer .footer_end .footer_end2
  {
  	width: 100%;
  }	
}


@media only screen and (max-width: 500px)
 {
  
  .nevbar .logo
  {
  	width: 70%;
  }
  .mobile_bar
  {
  	display: block;
  }
  .mobile_bar a
  {
  }
  .mobile_bar i
  {
  	padding: 35px;
  	font-size: 26px;
  	color: #fff;
  }
  .nevbar .menu,
  .nevbar .login
  {
  	display: none;
  }
  .main
  {
  	display: block;
  }
  .main .path,
  .main .path1
  {
  	width: 100%;
  }
  .main .path1
  {
  	margin: 0;
  	padding: 50px 0;
  }
  .main .path .divisan
  {
  	height: auto;
  	padding: 20px 0 20px 20px;
  	margin: 0;
  }
  .about
  {
  	height: auto;
  	padding: 50px 20px;
  	margin: 0;
  }
  .about .text
  {
  	width: 100%;
  	height: auto;
  }
  .contenar
  {
  	height: auto;
  	margin: 0;
  	padding: 50px 0;
  }
  .contenar .info,
  .contenar .data
  {
  	height: auto;
  	display: block;
  	margin-bottom: 20px;
  }
  .contenar .info .info1
  {
  	width: 100%;
  	height: auto;
  	margin-left: 0;
  	padding: 20px;
  }
  .contenar .data
  {
  	padding: 0 15px;
  }
  .contenar .data .box
  {
  	width: 100%;
  	height: auto;
  	padding: 20px;
  	margin: 0;
  	margin-bottom: 20px ;
  }
  .contenar .data .box .box1
  {
  	margin-left: 0;
  	height: auto;
  	margin-left: 0;
  }

  .contenar .data .image
  {
  	display: none;
  }
  .Analytics
  {
  	height: auto;
  	padding: 50px 0;
  }
  .Analytics .about_Analytics
  {
  	height: auto;
  	display: block;
  	padding: 0 20px;
  }
  .Analytics .about_Analytics .Understanding .wri_page{
  	width: 100%;
  	height: auto;
  }
  .Analytics .about_Analytics .Understanding,
  .Analytics .privacy .privacy2
  {
  	height: auto;
  	width: 100%;
  }
  .Analytics .privacy
  {
  	height: auto;
  	display: block;
  	padding: 0 20px;
  }
  .Analytics .privacy .privacy2 .privacy_info
  {
  	width: 100%;
  	height: auto;
  	padding-left: 0;
  }
  .testimonial
  {
  	padding: 50px 20px;
  }
  .testimonial .ter_concept .part2
  {
  	margin: 30px 0;
  }
  .testimonial .ter_concept
  {
  	display: block;
  }
  .testimonial .ter_concept .ter_part
  {
  	width: 100%;
  }
  .testimonial .ter_concept .ter_part .ter_write
  {
  	width: 100%;
  	height: auto;
  }
  .testimonial .ter_concept .part2 .inner_part
  {
  	margin-left: 0;
  }
  .testimonial .ter_concept .ter_part .inner_part .bkg_inner
  {
  	margin: 0;
  }
  .testimonial .ter_concept .ter_part .inner_part .bkg_inner
  {
  	width: 100%;
  }
  .testimonial .ter_concept .part2 .inner_part .img_cover .blur_img
  {
    height: 199px;
    width: 220px;
    top: 71px;
    left: 87px;
  }
  .testimonial .ter_concept .part2 .inner_part .img_cover img
  {
  	left: auto;
  	right: 10px;
  }

  .process,
  .process .process_part
  {
  	height: auto;
  	padding: 0 20px;
  	display: block;
  }
  .process .process_part .process_part2 .process_img
  {
  	padding: 0;
  }
  .process .process_part .process_part2 .process_img img
  {
  	width: 100%;
  }
  .process .process_work
  {
  	width: 100%;
  }
  .process .process_part .process_part2
  {
  	width: 100%;
  }
  .process .process_part .process_part2 ul
  {
  	margin: 30px 0;
  }
  .process .process_part .process_part2 li
  {
  	height: auto;
  }

  .Pricing
  {
  	height: auto;
  	padding: 0px 20px;
  }
  .Pricing .Valuable_Price
  {
  	width: 100%;
  }
  .Pricing .Pricing_info
  {
  	width: 100%;
  	display: block;
  }
  .Pricing .Pricing_info .Pricing_info3
  {
  	width: 100%;
  }
  .Pricing .Pricing_rate
  {
  	display: block;
  	height: auto;
  }
  .Pricing .Pricing_rate .Pricing_rate3
  {
  	width: 100%;
  	display: wrap;
  	margin: 0;
  	padding: 20px 50px;
  	margin-bottom: 20px;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .rating3
  {
  	height: auto;
  	margin-top: 0;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .rating3 h1
  {
  	padding: 20px 0;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .Pricin{
  	margin-bottom: 20px;
  }
  .Pricing .Pricing_rate .Pricing_rate3 .Pricing_buy
  {
  	padding: 20px 0;'
  	margin: 0;
  }
  .faq
  {
  	height: auto;
  	padding: 50px 20px;
  }
  .faq .Frequently_Asked
  {
  	width: 100%;
  }
  .faq .faq2
  {
  	height: auto;
  	display: block;
  }
  .faq .faq2 .faq_qui
  {
  	width: 100%;
  }
  .faq .faq2 .faq_qui .inner_faq
  {
  	padding-right: 0;
  	margin: 0;
  }
  .Integration
  {
  	height: auto;
  	padding: 50px 20px;
  }
  .Integration .Inte_inner
  {
  	height: auto;
  	width: 100%;
  	display: block;
  }
  .Integration .Inte_inner .inte_2,
  .Integration .Inte_inner .inte_1
  {
  	display: block;
  	width: 100%;
  }

  .Integration .Inte_inner .inte_1
  {
  	padding: 40px 0;
  }
  .Integration .Inte_inner .inte_1 h6
  {
  	padding-top: 0;
  }
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img1,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img2,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img3,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img4,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img5,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img6,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img7,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img8,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img9,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img10,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img11,
  .Integration .Inte_inner .inte_2 .inte_inner2 a .img12
  {
  	margin: 0;
  }
  .Integration .connect
  {
  	width: 100%;
  	height: auto;
  	display: block;
  }
  .Integration .connect .connect2
  {
  	width: 100%;
  	margin: 0;
  	padding: 10px;
  	margin-bottom: 20px;
  }
  .Integration .connect .connect2 .inner h6,
  .Integration .connect .connect2 .inner p
  {
  	margin: 0;
  }
  .Integration .connect .connect2 .inner a img
  {
  	margin: 0;
  	margin-bottom: 10px;
  }
  .Integration .connect .connect2 .conn_inner span,
  .Integration .connect .connect2 span
  {
  	left: 122px;
  }
  .Integration .trial
  {
  	height: auto;

  }
  .Integration .trial
  {
  	margin-top: 30px;
  	padding: 30px 15px;
  }
  .Integration .trial h2
  {
  	font-size: 32px;
  }
  .Integration .trial h6
  {
  	margin: 0;
  }
  .Integration .trial .contact_us .con1
  {
  	margin: 0;
  	padding: 15px;
  }
  .Integration .trial .round,
  .Integration .trial .round1
  {
  	display: none;
  }
  .footer
  {
  	height: auto;
  	width: 100%;
  	padding: 0 20px;
  }
  .footer .footer_2
  {
  	display: block;
  	height: auto;
  }
  .footer .footer_2 .footer_inner1{
  	width: 100%;
  }
  .footer .footer_2 .footer_inner2
  {
  	display: block;
  	width: 100%;
  	padding: 0;
  }
  .footer .footer_2 .footer_inner2 .footer1
  {
  	margin: 0;
  	margin-bottom: 20px;
  }
  .footer .footer_2 .footer_inner1 a
  {
  	margin-left: 0;
  }
  .footer .footer_end
  {
  	height: auto;
  	width: 100%;
  }
  .footer .footer_end .footer_end2
  {
  	width: 100%;
  }
}